@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h2>Player stats</h2>
        <p>HP: @Model.State.HP</p>
    </div>
    <p><a asp-page="Place" asp-route-id="0">Begin adventure</a></p>
</div>
